:root {
    --main-red: #be3144;
    --main-white: #f0f0f0;
    --main-gray: #303841;
    --main-blue: #45567d;
    --main-blue3: #1c262f;
    --main-blue2: #27333d;
    --main-blue1: #2e3d49;
    --main-light-blue: #02b3e4;
    --main-black: #000000;
}

.open-search {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.open-search .btn {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--main-light-blue);
    background-image: url(./icons/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    font-size: 0;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.open-search .btn:hover {
    background-color: #029be4;
}
